<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="button" data-toggle="collapse" data-target="#demo">Add Group</button>
            <button class="buttonhotel">Add Hotel</button>
            <button class="buttonservice">Add service</button>
        </div>
    </div>
</div>



<div id="demo" class="collapse in">
    <form [formGroup]="dynamicForm" action="">
        <div class="card-body">
            <h5 class="card-title">Employee Registerform</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">First name</label>
                        <input id="my-input" class="form-control" formControlName="firstname" type="text" name=""
                            placeholder="Enter First Name" autocomplete="off">
                        <div *ngIf="dynamicForm.controls['firstname'].invalid && (dynamicForm.controls['firstname'].dirty || dynamicForm.controls['firstname'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['firstname'].errors.required">
                                Name is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">Middle Name</label>
                        <input id="my-input" class="form-control" formControlName="middlename" type="text" name=""
                            placeholder="Enter Middle Name" autocomplete="off">
                        <div *ngIf="dynamicForm.controls['middlename'].invalid && (dynamicForm.controls['middlename'].dirty || dynamicForm.controls['middlename'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['middlename'].errors.required">
                                Middle name is required.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">last name</label>
                        <input id="my-input" class="form-control" type="text" formControlName="lastname" name=""
                            placeholder="Enter Last Name" autocomplete="off">
                        <div *ngIf="dynamicForm.controls['lastname'].invalid && (dynamicForm.controls['lastname'].dirty || dynamicForm.controls['lastname'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['lastname'].errors.required">
                                Last name is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">Adress</label>
                        <input id="my-input" class="form-control" type="text" formControlName="adress" name=""
                            placeholder="Enter Adress" autocomplete="off">
                        <div *ngIf="dynamicForm.controls['adress'].invalid && (dynamicForm.controls['adress'].dirty || dynamicForm.controls['adress'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['adress'].errors.required">
                                Adress is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">Email</label>
                        <input id="my-input" class="form-control" formControlName="email" type="text" name=""
                            placeholder="Enter email" autocomplete="off">
                        <div *ngIf="dynamicForm.controls['email'].invalid && (dynamicForm.controls['email'].dirty || dynamicForm.controls['email'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['email'].errors.required">
                                Email is required.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">password</label>
                        <input id="my-input" class="form-control" formControlName="password" type="text" name=""
                            placeholder="Enter Password" autocomplete="off">
                        <div *ngIf="dynamicForm.controls['password'].invalid && (dynamicForm.controls['password'].dirty || dynamicForm.controls['password'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['password'].errors.required">
                                Password is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">course</label>
                        <select class="form-control" formControlName="cources" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div *ngIf="dynamicForm.controls['cources'].invalid && (dynamicForm.controls['cources'].dirty || dynamicForm.controls['cources'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['cources'].errors.required">
                                cources is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="my-input">Phone No</label>
                        <input id="my-input" class="form-control" formControlName="phonenumber" type="text" name=""
                            placeholder="Enter Phone Number" autocomplete="off">
                            <div *ngIf="dynamicForm.controls['phonenumber'].invalid && (dynamicForm.controls['phonenumber'].dirty || dynamicForm.controls['phonenumber'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="dynamicForm.controls['phonenumber'].errors.required">
                                Phone Number is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 radio">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="male" value="1" type="radio"
                            name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            male
                        </label>
                    </div>
                </div>
                <div class="col-md-2 radio">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="male" value="2" type="radio"
                            name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            female
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                          <input type="checkbox" formControlName="isMasterSel" name="list_name" value="h1" (change)="checkUncheckAll()"/><strong>Select All</strong>
                        </li>
                      </ul>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of categoryList;let i=index">
                          <input type="checkbox" formControlName="isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()"/>
                          {{item.value}}
                        </li>
                      </ul>
                </div>
                <!-- <div class="col-md-6">
                    <code>{{checkedCategoryList}}</code>
                </div> -->
            </div>
        </div>
    </form>


    <button type="button" [disabled]="!dynamicForm.invalid"  class="btn btn-primary submitbutton" (click)="employeeregisterfoam()">Submit</button>
</div>